@keyframes glissement {
    from {
        margin-top: 100%;
        width: 400%;
    }
  
    to {
      margin-bottom: 0%;
      width: 100%;
    }
  }

body{
    background-color:#ffffff93;
    animation-direction: initial;
    animation-duration: 3s;
    animation-name: glissement;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsla(0, 0%, 0%, 0.788);
    border-radius: 5px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1em;
    color:#FFBF66;
    text-decoration: none;
}

nav a:hover
{
    color: #FFBF66;
    text-decoration: underline;
}

header h1{
    color: #FFBF66;
    font-family:  "Arial Black", Arial, Verdana, sans-serif;
    text-align: center;
}

#fotoprofile{
    width: 15%;
    float: right;
    margin: 15px;
    border-radius: 50%;
}

.test
{
    display: flex;
    align-items: center;
}
.test #afd
{
    width: 100%;
    height: auto;
}

.test #syscom
{
    width: 15%;
    height: auto;
    border-radius: 15px;
}

.SYSCOM h2{
    width: 600px;
}

.AFDTECH h2{
    width: 250px;
}

section h1{
    background-color: hsla(0, 0%, 0%, 0.788);
    border-radius: 5px;
    color: #FFBF66;
    height: 100px;
    position: center;
    display:flex;
    align-items: center;
    justify-content: center;

}
section h2{
    font-style: oblique;
    text-decoration: underline;
    color: #FFBF66;
}

section li{
    font-style: italic;
    color: #FFBF66;
}
#Experience
{
    background-color: hsla(0, 0%, 0%, 0.507);
    border-radius: 5px;
    height: 700px;

}
#Formations
{
    background-color: hsla(0, 0%, 0%, 0.507);
    border-radius: 5px;
    height: 550px;

}
#Compétences
{
    background-color: hsla(0, 0%, 0%, 0.507);
    border-radius: 5px;
}
#Compt{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 650px;
}

#Contact{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align:center;
    height: 100px;
}

#ZoneContact{
    background-color: hsla(0, 0%, 0%, 0.507);
    border-radius: 5px;
}

@media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: column;
    }
    nav li
    {
        padding-left: 4px;
    }
    nav a
    {
        margin-bottom: 0px;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }

    #fotoprofile{
        width: 35%;
        float: right;
        margin: 15px;
        border-radius: 50%;
    }

    .test img
    {
        width: 20%;
        margin-left: 2%;
    }
    #Compt{
        display:flex;
        justify-content: space-around;
        align-items: flex-start;
        font-size: 0.8em;
        height: 550px;
    }
    #Contact{
        display:flex;
        justify-content: space-around;
        align-items: flex-start;
        text-align:center;
        font-size: 0.8em;
    }
}