/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounceTwice {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animate-bounce-twice {
    animation: bounceTwice 5s ease-in-out 0s 5;
}

@keyframes bounce-up {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-bounce-up {
    animation: bounce-up 1s ease-out forwards;
}

